<footer class="footer">
    <div class="container">
        <p class="text-muted">@Util.getConfigValueByKey("app.version") - @Util.getConfigValueByKey("copyright") @Util.getConfigValueByKey("owner.name")
            <a class="play_logo" target="_blank" href="https://www.playframework.com">
                <img src="@routes.Assets.versioned("images/play_full_color.svg")" alt="play framework logo">
            </a>
            <a href="@routes.Application.imprint()">Impressum</a>
            <a href="@routes.Application.privacy()">Datenschutzerklärung</a>
        </p>
    </div>
</footer>