@import tags._

@main("Honig @ Honig-Räuberei") {
    <h1>Honig</h1>
    
    <div>
        @if(flash.contains("success")) {
        <p class="successs">
            @flash.get("success")
        </p>
        }
        
        <h2>Honigübersicht</h2>
        <p>In der Regel produzieren wir jedes Jahr im Frühjahr und Sommer 2 Sorten Honig.</p>
        <ul>
            <li>Frühjahrsblüte</li>
            <li>Sommerblüte</li>
        </ul>
        
        <p>Möchten Sie Honig erwerben, teilen Sie dies bitte telefonisch oder per E-Mail mit.</p>
        @contact()
    </div>
}