@()(implicit request: Http.Request)
@import tags._

@main("Honig @ Honig-Räuberei") {
    <h1>Honig</h1>
    
    <div>
        <h2>Honigübersicht</h2>
        <p>Wir haben dieses Jahr (2022) 2 Sorten Honig im Angebot.</p>
        <ul>
			<li>Frühjahrsblüte</li>
			<li>Sommerblüte</li>
        </ul>
		<div class="gallery">
			<a href="@routes.Assets.versioned("images/pics/2021_Glaeser_Frueh.jpg")" data-fancybox="group" data-caption="Verkauf 2021">
				<img src="@routes.Assets.versioned("images/pics/2021_Glaeser_Frueh_preview.jpg")" alt="500g-Gläser Frühjahrsblüte" width="160" height="120" />
			</a>
			<a href="@routes.Assets.versioned("images/pics/2021_Glaeser_Sommer.jpg")" data-fancybox="group" data-caption="Verkauf 2021">
				<img src="@routes.Assets.versioned("images/pics/2021_Glaeser_Sommer_preview.jpg")" alt="500g-Gläser Sommerblüte" width="160" height="120" />
			</a>
			<a href="@routes.Assets.versioned("images/pics/Box_aussen.jpg")" data-fancybox="group" data-caption="Verkauf 2021">
				<img src="@routes.Assets.versioned("images/pics/Box_aussen_preview.jpg")" alt="Verkaufsbox von außen" width="160" height="120" />
			</a>
			<a href="@routes.Assets.versioned("images/pics/Box_innen.jpg")" data-fancybox="group" data-caption="Verkauf 2021">
				<img src="@routes.Assets.versioned("images/pics/Box_innen_preview.jpg")" alt="Verkaufsbox von innen" width="160" height="120" />
			</a>
		</div>
        
        <p>Der Honig kann für 7€ je 500g Glas erworben werden. Kartenzahlung ist auch möglich :D
		<div style="font-size: 18px">
			<i class="pf pf-visa"></i>
			<i class="pf pf-visa-pay"></i>
			<i class="pf pf-maestro"></i>
			<i class="pf pf-mastercard"></i>
			<i class="pf pf-american-express"></i>
			<i class="pf pf-apple-pay"></i>
			<i class="pf pf-contactless-alt"></i>
			<i class="pf pf-contactless"></i>
			<i class="pf pf-paypal"></i>
		</div>
		</p>
        @contact()
    </div>
}