@import tags._

@main("Startseite Honig-Räuberei") {
    <h1>Hobbyimkerei Dehler</h1>
    
    <div>
        @if(flash.contains("success")) {
        <p class="successs">
            @flash.get("success")
        </p>
        }
        
        <p>
          Willkommen!<br>
          Ich bin seit 2016 Hobbyimker in Berlin Kladow und auf diesen Seiten kann man evtl. Dinge über mich, meine Bienen und den von meinen Bienen produzierten Honig lesen.<br>
          Weiterführende Informationen gibt es auch auf der Homepage des <a href="http://www.imkerverein-spandau.de/">Imkerverein Berlin-Spandau</a>.
        </p>
        
        <div class="gallery">
            <a href="@routes.Assets.versioned("images/pics/Bienenstand.jpg")" data-fancybox="group" data-caption="Bienenstand">
                <img src="@routes.Assets.versioned("images/pics/Bienenstand_preview.png")" alt="" width="320" height="240" />
            </a>
        </div>
        
        @contact()
    </div>
}
