@main("Aktuelles @ Honig-Räuberei") {
    <h1>Aktuelles</h1>
    
    <div class="news">
        @if(flash.contains("success")) {
        <p class="successs">
            @flash.get("success")
        </p>
        }
        
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Frühling</h3>
            </div>
            <div class="panel-body">
                <p>Der Frühling ist da.<br> An den wärmeren Tagen sammeln die Bienen bereits Pollen und etwas Nektar.</p>
                <div class="gallery">
	                <a href="@routes.Assets.versioned("images/pics/Krokus_Biene.jpg")" data-fancybox="group" data-caption="Biene auf Krokus">
	                    <img src="@routes.Assets.versioned("images/pics/Krokus_Biene.jpg")" alt="" width="320" height="240" />
	                </a>
	                <a href="@routes.Assets.versioned("images/pics/Traube_Biene.jpg")" data-fancybox="group" data-caption="Biene auf Traubenhyazinthe">
	                    <img src="@routes.Assets.versioned("images/pics/Traube_Biene.jpg")" alt="" width="320" height="240" />
	                </a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>15.03.2018 14:00 Uhr</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
    </div>
}