@main("Aktuelles @ Honig-Räuberei") {
    <h1>Aktuelles</h1>
    
    <div class="news">
        @if(flash.contains("success")) {
        <p class="successs">
            @flash.get("success")
        </p>
        }
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Honig</h3>
            </div>
            <div class="panel-body">
                <p>Dieses Jahr stehen wieder 2 Sorten Honig zum <a href="@routes.Application.honey()">Verkauf</a>.</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>Juli 2020</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Honig</h3>
            </div>
            <div class="panel-body">
                <p>Es stehen 2 Sorten Honig zum <a href="@routes.Application.honey()">Verkauf</a>. Ansonsten gibt es nichts Neues :D</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>Juni 2019</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
		<div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Honig</h3>
            </div>
            <div class="panel-body">
                <p>Es stehen 3 Sorten Honig zum <a href="@routes.Application.honey()">Verkauf</a>.</p>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>August 2018</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Der Bienenstand</h3>
            </div>
            <div class="panel-body">
                <p>Bilder vom Bienenstand</p>
                <div class="gallery">
                    <a href="@routes.Assets.versioned("images/pics/Bienenstand.jpg")" data-fancybox="group" data-caption="Bienenstand">
                        <img src="@routes.Assets.versioned("images/pics/Bienenstand_preview.png")" alt="" width="320" height="240" />
                    </a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>April 2018</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Der Frühling nimmt Fahrt auf</h3>
            </div>
            <div class="panel-body">
                <p>Erste echte Trachten kündigen sich an.</p>
                <div class="gallery">
                    <a href="@routes.Assets.versioned("images/pics/Kastanie.png")" data-fancybox="group" data-caption="Kastanie">
                        <img src="@routes.Assets.versioned("images/pics/Kastanie_preview.png")" alt="" width="240" height="320" />
                    </a>
                    <a href="@routes.Assets.versioned("images/pics/Kastanie_nah.png")" data-fancybox="group" data-caption="Kastanie mit Blütenstängeln">
                        <img src="@routes.Assets.versioned("images/pics/Kastanie_nah_preview.png")" alt="" width="240" height="320" />
                    </a>
                    <a href="@routes.Assets.versioned("images/pics/Ahorn.png")" data-fancybox="group" data-caption="Ahorn mit Blüten">
                        <img src="@routes.Assets.versioned("images/pics/Ahorn_preview.jpg")" alt="" width="240" height="320" />
                    </a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>15.04.2018 12:00 Uhr</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger notice">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-fire"></i> Frühling</h3>
            </div>
            <div class="panel-body">
                <p>Der Frühling ist da.<br> An den wärmeren Tagen sammeln die Bienen bereits Pollen und etwas Nektar.</p>
                <div class="gallery">
	                <a href="@routes.Assets.versioned("images/pics/Krokus_Biene.jpg")" data-fancybox="group" data-caption="Biene auf Krokus">
	                    <img src="@routes.Assets.versioned("images/pics/Krokus_Biene_preview.png")" alt="" width="320" height="240" />
	                </a>
	                <a href="@routes.Assets.versioned("images/pics/Traube_Biene.jpg")" data-fancybox="group" data-caption="Biene auf Traubenhyazinthe">
	                    <img src="@routes.Assets.versioned("images/pics/Traube_Biene_preview.png")" alt="" width="320" height="240" />
	                </a>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div title="" class="col-sm-4">
                        <span title="Datum" class="glyphicon glyphicon-send pull-left"></span>
                        <div style="margin-left: 1.25em"><em>25.03.2018 14:00 Uhr</em></div>
                    </div>
                    <div class="col-sm-4"><!-- TODO --></div>
                    <div class="col-sm-4"><!-- TODO --></div>
                </div>
            </div>
        </div>
    </div>
}